
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* navbar style strats */
.nav-link{
    font-size: 16px;
    color: #707070;
    margin: 0 20px;
}
/* navbar style ends */

/* categories style strats */
.categories-row{
    padding-left: 100px;
}
.categories-img{
    width: 150px;
    height: 100px;
}
.md-box{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
/* categories style ends */